<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NativeiOSMobileCenter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D38D0671DF8939D0039A47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D38D0801DF8939E0039A47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D38D08B1DF8939E0039A47A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
